<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.manager.mapper.daishu.CustomerMapper">
	<insert id="insert" parameterType="Customer" useGeneratedKeys="true" keyProperty="id">
		insert into t_customer
		(weixin_name,address,phone,name,status)
		values
		(#{weixinName},#{address},#{phone},#{name},#{status})
	</insert>
	
	<update id="update" parameterType="Customer">
		update t_customer set weixin_name=#{weixinName},address=#{address},phone=#{phone}
			,name=#{name} where id=#{id}
	</update>
	
	<select id="selectById" resultType="Customer">
		select * from t_customer where id=#{id}
	</select>
	
	<delete id="deleteByIds">
		delete from t_customer
		<where>
		<choose>
			<when test="null != ids">
				<foreach collection="ids" item="id" separator="," open="id in (" close=")">
				#{id}
				</foreach>
			</when>
			<otherwise>
			0=1
			</otherwise>
		</choose>
		</where>
	</delete>
	
	<sql id="gridWhere">
	from t_customer a
	<where>
		<if test="null != entity">
			<if test="null != entity.name and '' != entity.name">
			a.name like '%${entity.name}%'
			</if>
		</if>
	</where>
	</sql>
	<select id="listPaged" resultType="Customer">
		select a.*
		<include refid="gridWhere"/>
		<if test="tableParam.length > -1">
		limit #{tableParam.start},#{tableParam.length}
		</if>
	</select>
	<select id="count" resultType="int">
		select count(*)
		<include refid="gridWhere"/>
	</select>
</mapper>