.huiyuanka-logo-wrapper {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.huiyuan-opt {
    background-color: #cccccc;
}
.huiyuan-opt li {
    padding: 0 0.4rem;
    margin: 0.8rem 0;
    border-right: 1px solid #fef3f2;
    text-align: center;
}
.huiyuan-opt li:last-child {
    border-right: none;
}
.huiyuan-opt li a {
    color: #959595;
    font-size: 1.5rem;
}
.huiyuan-opt li img {
    width: 20px;
    height: auto;
}
.huiyuanka-list {
    margin: 1rem 0;
}
.huiyuanka-list li {
    /*background: url("../img/huiyuanka-bg.png") repeat-x;*/
    margin: 1rem 0;
}
.huiyuanka-list li > div {
	padding: 1.5rem 0.8rem;
}
.huiyuanka-list li > div > img {
	height: 25px;
}
.huiyuanka-list li > div > span {
	font-size: 1.5rem;
	padding-left: 0.5rem;
}
.huiyuanka-list li > div > button {
	float: right;
	background-color: #ffffff;
	border: 1px solid rgba(72, 101, 144, 0.52);
	border-radius: 5px !important;
	-moz-border-radius: 5px !important; 
	-webkit-border-radius: 5px !important; 
}