/** index item **/
.index-panel {
    padding: 0 0.5rem;
}
.index-panel > a,.index-panel > ul > li > a,.index-panel > a > div,.index-panel > ul > li > a > div {
    position: relative;
}
.changguibaojie {
    background-color: #f39910;
    border-radius: 8px;
}
.changguibaojie img.img-logo {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    height: 60%;
}
.changguibaojie .img-title {
    position: absolute;
    left: 1rem;
    top: 1.5rem;
    width: 50%;
    height: auto;
}
.changguibaojie .intro {
	color: #fff;
	position: absolute;
	top: 6rem;
	left: 1.1rem;
	font-size: 1.3rem;
}
.changguibaojie .unit {
	color: #fff;
	position: absolute;
	top: 4.4rem;
	left: 1.1rem;
	font-size: 1.3rem;
}
.jingxibaojie {
    background-color: #ec51b3;
    border-radius: 8px;
}
.jingxibaojie .img-logo {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    height: 60%;
}
.jingxibaojie .img-title {
    position: absolute;
    left: 1rem;
    top: 1rem;
    width: 53%;
    height: auto;
}
.jingxibaojie .intro {
	color: #fff;
	position: absolute;
	top: 5.6rem;
	left: 1.1rem;
	font-size: 1.3rem;
}
.jingxibaojie .unit {
	color: #fff;
	position: absolute;
	top: 4rem;
	left: 1.1rem;
	font-size: 1.3rem;
}
.caboli {
    background-color: #00c2b2;
    border-radius: 8px;
}
.caboli .img-logo {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    height: 60%;
}
.caboli .img-title {
    position: absolute;
    left: 1.5rem;
    top: 1.5rem;
    width: 40%;
    height: auto;
}
.caboli .intro {
	color: #fff;
	position: absolute;
	top: 6rem;
	left: 1.6rem;
	font-size: 1.3rem;
}
.caboli .unit {
	color: #fff;
	position: absolute;
	top: 4.4rem;
	left: 1.6rem;
	font-size: 1.3rem;
}
.ganxi {
    background-color: #8749b4;
    border-radius: 8px;
}
.ganxi .img-logo {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    height: 70%;
}
.ganxi .img-title {
    position: absolute;
    left: 1.5rem;
    top: 2rem;
    width: 28%;
    height: auto;
}
.ganxi .intro {
	color: #fff;
	position: absolute;
	top: 6.5rem;
	left: 1.6rem;
	font-size: 1.3rem;
}
.ganxi .unit {
	color: #fff;
	position: absolute;
	top: 4.9rem;
	left: 1.6rem;
	font-size: 1.3rem;
}
.shendubaojie {
    background-color: #96cb22;
    border-radius: 8px;
}
.shendubaojie .img-logo {
    position: absolute;
    top: 1.2rem;
    right: 0.7rem;
    height: 60%;
}
.shendubaojie .img-title {
    position: absolute;
    left: 0.5rem;
    top: 1.2rem;
    width: 55%;
    height: auto;
}
.shendubaojie .intro {
	color: #fff;
	position: absolute;
	top: 4.2rem;
	left: 0.6rem;
	font-size: 0.8rem;
}
.shendubaojie .unit {
	color: #fff;
	position: absolute;
	top: 3rem;
	left: 0.6rem;
	font-size: 0.8rem;
}
.xinjukaihuang {
    background-color: #0698c7;
    border-radius: 8px;
}
.xinjukaihuang .img-logo {
    position: absolute;
    top: 1.2rem;
    right: 0.7rem;
    height: 60%;
}
.xinjukaihuang .img-title {
    position: absolute;
    left: 0.5rem;
    top: 1.2rem;
    width: 55%;
    height: auto;
}
.xinjukaihuang .intro {
	color: #fff;
	position: absolute;
	top: 4.2rem;
	left: 0.6rem;
	font-size: 0.8rem;
}
.xinjukaihuang .unit {
	color: #fff;
	position: absolute;
	top: 3rem;
	left: 0.6rem;
	font-size: 0.8rem;
}
.jiajuhuli {
    background-color: #ff5152;
    border-radius: 8px;
}
.jiajuhuli .img-logo {
    position: absolute;
    top: 1.2rem;
    right: 0.7rem;
    height: 60%;
}
.jiajuhuli .img-title {
    position: absolute;
    left: 0.5rem;
    top: 1.2rem;
    width: 55%;
    height: auto;
}
.jiajuhuli .intro {
	color: #fff;
	position: absolute;
	top: 4.2rem;
	left: 0.6rem;
	font-size: 0.8rem;
}
.jiajuhuli .unit {
	color: #fff;
	position: absolute;
	top: 3rem;
	left: 0.6rem;
	font-size: 0.8rem;
}
.jiadianqingxi {
    background-color: #e5b107;
    border-radius: 8px;
}
.jiadianqingxi .img-logo {
    position: absolute;
    top: 1.2rem;
    right: 0.7rem;
    height: 60%;
}
.jiadianqingxi .img-title {
    position: absolute;
    left: 0.5rem;
    top: 1.2rem;
    width: 60%;
    height: auto;
}
.jiadianqingxi .intro {
	color: #fff;
	position: absolute;
	top: 4.2rem;
	left: 0.6rem;
	font-size: 0.8rem;
}
.jiadianqingxi .unit {
	color: #fff;
	position: absolute;
	top: 3rem;
	left: 0.6rem;
	font-size: 0.8rem;
}
.guanjiayuyue {
    background-color: #f64d7d;
    border-radius: 8px;
}
.guanjiayuyue .img-logo {
    position: absolute;
    bottom: 1rem;
    right: 15%;
    left: 15%;
    width: 70%;
    height: auto;
}
.guanjiayuyue .img-title {
    position: absolute;
    right: 15%;
    left: 15%;
    top: 4.5rem;
    width: 70%;
    height: auto;
}
.guanjiayuyue .img-yue {
    position: absolute;
    right: 1rem;
    top: 0rem;
    width: 30%;
    height: auto;
}