ul.week,li.day {
    padding: 0;
}
.week-container {
    background-color: #ffffff;
}
.week-wrapper {
    border-bottom: 1px solid #fef3f2;
}
ul.week {
    margin: 15px 0 10px 0;
    text-decoration: none;
}
ul.week li.day {
    float: left;
    width: 14.285%;
    list-style: none;
    text-align: center;
    color: #5d5d5d;
}
ul.week li.day.active {
    color: #f39910;
}
ul.week li.day p:first-child {
    margin: 0;
}
ul.week li.day p:last-child {
    margin: 0;
}
.schedule-container {
    background-color: #ffffff;
    text-align: center;
    padding: 1rem 0;
}
.schedule-container .schedule-wrapper:nth-child(odd) {
    padding: 0.8rem 1.5rem 0.8rem 4.5rem;
}
.schedule-container .schedule-wrapper:nth-child(even) {
    padding: 0.8rem 4.5rem 0.8rem 1.5rem;
}
.schedule-container a.schedule-time {
    border: 1px solid #5d5d5d;
    border-radius: 5px;
    width: 100%;
    display: block;
    font-size: 1.6rem;
    color: #5d5d5d;
    padding: 0.6rem;
}
.schedule-container a.schedule-time.active {
    border: 1px solid #f39910;
    color: #f39910;
}
.schedule-container a.schedule-time.disable {
    color: #d2d2d2;
    border-color: #d2d2d2;
}
.forminfo-container .forminfo-wrapper {
	padding: 0;
}