.user-center-opt {
    text-align: center;
    background-color: #ffffff;
    margin-bottom: 1rem;
    padding: 0.2rem 0;
}
.user-center-opt li {
    margin: 0.8rem 0;
    color: #ffffff;
    font-size: 1.6rem;
}
.user-center-opt li:last-child {
    border-left: 1px solid #dddddd;
}
.user-center-opt li img {
    width: 22px;
    height: auto;
    margin-right: 0.5rem;
}