<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="callSettersOnNulls" value="true" />
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	<typeAliases>
		<typeAlias type="com.shop.manager.mapper.system.User" alias="User" />
		<typeAlias type="com.shop.manager.mapper.system.UsersRoles" alias="UsersRoles" />
		<typeAlias type="com.shop.manager.mapper.system.Role" alias="Role" />
		<typeAlias type="com.shop.manager.mapper.system.Menu" alias="Menu" />
		<typeAlias type="com.shop.manager.mapper.system.Function" alias="Function" />
		<typeAlias type="com.shop.manager.mapper.system.File" alias="File" />
		
		<typeAlias type="com.shop.manager.mapper.website.News" alias="News" />
		<typeAlias type="com.shop.manager.mapper.website.Business" alias="Business" />
		<typeAlias type="com.shop.manager.mapper.website.Banner" alias="Banner" />
		<typeAlias type="com.shop.manager.mapper.website.SystemConfig" alias="SystemConfig" />
	</typeAliases>
	<mappers>
		<mapper resource="com/shop/manager/mapper/system/SystemMapper.xml" />
		
		<mapper resource="com/shop/manager/mapper/system/UserMapper.xml" />
		<mapper resource="com/shop/manager/mapper/system/RoleMapper.xml" />
		<mapper resource="com/shop/manager/mapper/system/MenuMapper.xml" />
		<mapper resource="com/shop/manager/mapper/system/FileMapper.xml" />
		
		<mapper resource="com/shop/manager/mapper/website/NewsMapper.xml" />
		<mapper resource="com/shop/manager/mapper/website/BusinessMapper.xml" />
		<mapper resource="com/shop/manager/mapper/website/BannerMapper.xml" />
		<mapper resource="com/shop/manager/mapper/website/SystemConfigMapper.xml" />
	</mappers>
</configuration>